.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear;
}
.backdrop.is-hidden {
  opacity: o;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 44px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
  .modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    .icon {
      fill: #000000;
    }
  }
}
.modal__btn:hover .icon,
.modal__btn:focus .icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 12px;
  color: #212121;
}
.modal-input
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-comment:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin: 0px;
  &:hover,
  &:focus {
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover + .input-icon {
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  :focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal__area {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}
.input-icon {
  position: absolute;
  width: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-form::placeholder {
  color: #2196f3;
}
.modal-check {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  margin-top: 4px;
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-checkbox:checked + &::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.agreement-link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 6px;
}
.submit-btn {
  color: var(--secondary-text-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  width: 200px;
}
