:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background: #ffffff;
  --secondary-background: #2f303a;
  --titles-color: #212121;
  --icon-primay-color: #afb1b8;
}
