.nav {
  display: flex;
  align-items: center;
  padding-left: 0px;
  .logo {
    margin-right: 93px;
  }
}
.site-nav {
  display: flex;
  .link {
    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
    visibility: visible;
    bottom: -1px;
  }
  .link-nav {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline;
    .current {
      color: #2196f3;
      display: inline;
    }
  }
  .link-nav:last-child {
    margin-right: 0px;
  }
  .link-nav:first-child {
    margin-left: 0px;
  }
  li {
    margin-right: 50px;
  }
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .link-nav:hover,
  .link-nav:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}