.clients{
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  margin-bottom: 30px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.workers__item{
  @media screen and (min-width:768px) {
    max-width: calc((100% - 60px) / 3)
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-primay-color);
  width: 210px;
  height: 92px;
  @media screen and (min-width:768px) {
    width: 226px;
  }
  @media screen and (min-width:1200px) {
    width: 170px;
}
  border: 1px solid #afb1b8;
  border-radius: 4px;
  .icon:hover,
  .icon:focus {
   fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  
} 
.clients__link:hover .icon,
.clients__link:focus .icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
