.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  @media screen and (min-width:768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.line {
  border-bottom: 1px solid #ececec;
  position: relative;
  @media screen and (min-width:768px) {
    padding: 0px;
  }
}

.logo-full {
  margin-left: 0px;
  margin-right: 43px;
}
.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-size: 24px;
  line-height: 1.2;
}
.logo-blue {
  color: #2196f3;
}
.navigation{
  @media screen and (min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navigation_head{
  display: flex;
  @media screen and (min-width:768px) {
    margin-right: 87px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 92px;
  }
}
.navigation__btn{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  @media screen and (min-width:768px) {
    display: none;
  }
}
.navigation__icon{
  fill: #000000;
}
.navigation__block{
  display: none;
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    padding-left: 0px;
  }
  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
    padding-left: 0px;
  }
}
.navigation__list {
  display: flex;
  .navigation__item {
    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
    visibility: visible;
    bottom: -1px;
  }
  .navigation__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline;
    .current {
      color: #2196f3;
      display: inline;
    }
    .icon {
      fill: var(--primary-text-color);
    }
  }
  // .navigation__link:last-child {
  //   margin-right: 0px;
  // }
  .navigation__link:first-child {
    margin-left: 0;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  li {
    margin-right: 50px;
  }
  .navigation__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}  
.connection {
  display: none;  
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;    
  }
  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

  }
  .link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .icon {
    margin-right: 10px;
  }
  .link:hover,
  .link:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.connection__item {
  margin-right: 0px;
  padding-right: 0px;
  .icon {
    fill: var(--primary-text-color);
  }
}
.navigation__link:hover .icon,
.navigation__link:focus .icon {
  fill: var(--accent-color);
}
.connection__item:hover .icon,
.connection__item:focus .icon {
  fill: var(--accent-color);
}
