.hero {
  text-align: center;
  width: 100%;
  height: 400px;
  padding: 50px 20px;
  background-image: var(--background-gradient),
   url(../images/background-picture.jpg);
  background-color: var(--secondary-background);
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 60px;
  @media screen and (min-width:480px) {
    width: 480px;
    padding: 118px 60px;
    background-image: var(--background-gradient),
   url(../../images/mob/studio/header-mob.jpg)
  }
  @media screen and (min-width:768px) {
    width: 768px;
    padding: 118px 204px;
    background-image: var(--background-gradient),
   url(../../images/tablet/studio/header-tablet.jpg)
  }
  @media screen and (min-width:1200px) {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    background-image: var(--background-gradient),
   url(../../images/desktop/studio/header-desktop.jpg)
  }
  .button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;
    @media screen and (min-width:480px) {
      font-size: 16px;
    }
  }
}
.hero__title {
  color: #ffffff;
  background-color: none;
  background-position: center;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width:1200px) {
    font-size: 44px;
    line-height:1.36;
  }
}