h2 {
  color: var(--titles-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  p {
    font-size: 16px;
    line-height: 1.87;
  }
}
.project__submenu {
  position: relative;
  overflow: hidden;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover,
.project__item:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project__item:hover .project__description {
  transform: translateY(0);
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project__words {
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
